body {
    padding: 0px;
    margin: 0px;
    background-color: #edc1c1;
    text-align: center;
}


iframe , img , #progress{
    width: 80vmin;
    height: 80vmin;
    /* display: block; */
    border: 0;
    
    margin: 25px;
    border-radius: 50px;
    object-fit: cover;
}

#progress {
    margin: 0px;
    position: absolute;
    /* background-color: #f4741d; */
    
    vertical-align: middle;
    
}



.loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);


    width: 120px;
    height: 20px;
    background:
    linear-gradient(#fff 0 0) 0/0% no-repeat
    #ccc;
    animation: l1 2s infinite linear;
    }
    @keyframes l1 {
        100% {background-size:100%}
    }


#myFrame {
    position: absolute;
    visibility: hidden;
    margin: 0px;
    left: 0px;
}

h1 {
    font-size: 12vmin;
    margin-left: 40px;
    margin-right: 40px;
    color: #f4741d;
}