body {
    padding: 0px;
    margin: 0px;
    background-color: #edc1c1;
    text-align: center;
    font-family: "Helvetica Neue";
}


iframe , img.item , #progress{
    width: 80vmin;
    height: 80vmin;
    /* display: block; */
    border: 0;
    
    margin: 5vmin;
    border-radius: 8vmin;
    object-fit: cover;
}

#progress {
    margin: 0px;
    position: absolute;
    /* background-color: #f4741d; */
    
    vertical-align: middle;
    
}


.loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);


    width: 120px;
    height: 20px;
    background:
    linear-gradient(#fff 0 0) 0/0% no-repeat
    #ccc;
    animation: l1 2s infinite linear;
    }
    @keyframes l1 {
        100% {background-size:100%}
    }


#myFrame {
    position: absolute;
    visibility: hidden;
    margin: 0px;
    left: 0px;
}

h1,h2 {
    font-family: 'Cooper Black';
    font-size: 10vmin;
    font-weight: 100;
    margin-left: 10vmin;
    margin-right: 10vmin;
    color: #f4741d;
}

h1 {
    margin-bottom: 3vmin;
}

h2 {
    font-size: 20pt;
}

a {
    color: #f4741d;
    text-decoration: none;
}
a:visited {
    color: #f4741d;
}

#about {
    position: fixed;
    top: 0px;
    left: 101vw;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    text-align: left;
    
    overflow-y: scroll;
}

#about.animate {
    transition: left 500ms;
}

#about p {
    padding-left: 10vmin;
    padding-right: 10vmin;
    font-size: 14pt;
}

#about.on {
    left: 0px;
}

img.studio {
    width: 50%;
    float: right;
    margin-left:10px;
    margin-right: 10vmin;
    margin-bottom: 10px;
}

#closeBtn {
    font-size: 15pt;
    font-weight: 400;
    color: black;
    text-decoration: none;
   
    position: absolute;
    right: 10vmin;
    top: 24px;
    
}

@media screen and (max-aspect-ratio: 1/1) {
    /* img.studio {
        width: calc(100% - 80px);
        float: none;
        margin-left: 40px;
    } */

    /* #about p {
        font-size: 18pt;
    } */
}

@media only screen and (max-width: 600px) {
    img.studio {
        width: 80vmin;
        float: none;
        margin-left: 10vmin;
    }

    iframe , img.item , #progress{ 
        margin-bottom: 0px;
    }
}

