@import url('https://fonts.cdnfonts.com/css/cooper-black');

body {
    margin: 0;
    background-color: #edc1c1;
    color: #f4741d;
    font-family: 'Cooper Black', sans-serif;
    text-align: center;
}

img  {
   
    width: 100%;
    object-fit: cover;
    
    height: 80vw; /* fix for chrome*/
}

text {
    width: 90vw;
}

h1  {
    font-size: 4.5em;
    text-align: center;
    margin-top: 0.5em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 3em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}


text p {
    font-size: 1.4em;
    /* text-align: left; */
}

a , a:visited {
    color: #f4741d;
    text-decoration: none;
}

a.item , item , text {
    display: inline-table;
}

item {
    /* padding-top: 5%; */
   
    /* background-color: white; */
    overflow: hidden;
    border-radius: 15%;
    margin: 3vw;
}


 a.item , item {
    width: 80vw;
    height: 80vw;
}




@media  (min-width: 900px) {
    a.item , item {
        width: 40vw;
        height: 40vw;
    }

    item {margin: 2vw;}

    img {
        height: 40vw; /* fix for chrome*/
    }
   

}


@media  (min-width: 1100px) {
   

    a.item , item{
        width: 28.0vw;
        height: 28.0vw;
         
    }
    item {margin: 2.0vw;}

    img {
        height: 28vw; /* fix for chrome*/
    }
  
}



@media  (min-width: 1400px) {
    a.item , item{
        width: 20.0vw;
        height: 20.0vw;
    }
    item {margin: 1.5vw}

    img {
        height: 20vw; /* fix for chrome*/
    }
}

@media  (min-width: 2000px) {
     a.item , item{
        width: 15.0vw;
        height: 15.0vw;
         
    }
    item {margin: .8vw}

    img {
        height: 15vw; /* fix for chrome*/
    }
}

