/* @import url('https://fonts.cdnfonts.com/css/cooper-black'); */
@import url('https://fonts.cdnfonts.com/css/phorche');
@import url('https://fonts.cdnfonts.com/css/caros-soft');

body {
    margin: 0;
    background-color: #edc1c1;
    color: #f4741d;
    /* font-family: 'Cooper Black', sans-serif; */
    font-family: 'Caros Soft', sans-serif;
    text-align: center;
}

item img , item div{
   
    width: 100%;
    object-fit: cover;

    /* border-radius: 15%; */
   
    height: 200px; /* fix for chrome*/
}

text {
    width: 90vw;
}

h1  {
    font-family: 'Phorche', sans-serif;
    /* font-weight: bolder; */
    text-align: center;

    font-size: 5.0em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;

}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.3em;
}

h3 {
    font-size: 1.6em;
    text-align: center;
}

p {
    font-size: 1.0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}


text p {
    font-size: 1.0em;
    /* text-align: left; */
}

a , a:visited {
    color: #f4741d;
    text-decoration: none;
}

a.item , item , text {
    display: inline-table;
    /* border:  1px solid black; */
}

item {
    overflow: hidden;
    margin: 28px;
}

a.item p{
     margin-top:  -1.5em;
}

item div {
     margin-bottom:  .5em;
}



 a.item , item , item div{
    width: 200px;
    height: 200px;
}


iframe {
    border: 0;
    width: 200px;
    height: 200px;
}


@media only screen and (max-width: 650px) {
    body { font-size:0.5em}

     a.item , item , item div {
        width: 120px;
        height: 120px;
    }
    iframe {
        width: 120px;
    }

    item {
        margin-top:10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    item img , iframe {
        height: 120px;
    }

    text p, p , item a {
        font-size: 15px;
    }
}

