@import url('https://fonts.cdnfonts.com/css/cooper-black');

body {
    margin: 0;
    background-color: #edc1c1;
    color: #f4741d;
    font-family: 'Cooper Black', sans-serif;
    text-align: center;
}

item img , iframe {
   
    width: 100%;
    object-fit: cover;

    border-radius: 15%;
   
    height: 240px; /* fix for chrome*/
}

text {
    width: 90vw;
}

h1  {
    font-size: 4.0em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    text-align: center;
}

p {
    font-size: 1.4em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}


text p {
    font-size: 1.4em;
    /* text-align: left; */
}

a , a:visited {
    color: #f4741d;
    text-decoration: none;
}

a.item , item , text {
    display: inline-table;
}

item {
   
    overflow: hidden;
    margin: 20px;

}

iframe {
    border: 0;
    width: 240px;
}


 a.item , item {
    width: 240px;
    height: 240px;
}


@media only screen and (max-width: 980px) {
     a.item , item {
        width: 340px;
        height: 340px;
    }
    iframe {
        width: 340px;
    }

    item img , iframe {
        height: 340px;
    }
}

